body{
    font-family: 'Segoe UI' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #ffffff;
    
    margin: 120px auto;
    padding: 20px;
    border-radius:8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}
.navbar {
    justify-content: flex-start;
  }
/* h1{
   color:#fff; 
   font-size: 24px;
   margin-bottom: 20px;
} */
.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.action{
    border: none;
    background-color: none;
}
.cc{
    margin: 10px;
}
/* button{
  padding:10px 20px;
  background-color: #e479ba;  
  color:#fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor:pointer;
  transition: background-color 0.3s ease;
} */


/* ul{
    list-style: none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */
li:hover{
  background-color: rgba(111,131,211,0.1);
}
ul{
   justify-content: center;
}
a{
    justify-self: center;
}
.delete-button{
    background-color: #ff5050;
    color:#fff;
    border:none;
    border-radius: 4px;
    padding:6px 12px;
    font-size:14px;
    cursor:pointer;
    transition: backgroud-color 0.3s ease;
}
.delete-button:hover{
    background-color: #ff0000;

}
.edit-buuton{
    background-color: #ffc107;
    color:#fff;
    border:none;
    padding: 5px 12px;
    font-size: 14px;
    cursor:pointer;
    margin-right:10px ;
    transition: background-color 0.3s ease;
}
.edit-buuton{
    background-color: #ff9800;
}
th{
    color:#d45ea7;
}