body{
    font-family: 'Segoe UI' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #ffffff;
    
    margin: 120px auto;
    padding: 20px;
    border-radius:8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}
.navbar {
    justify-content: flex-start;
  }
.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.action{
    border: none;
    background-color: none;
}
.cc{
    margin: 10px;
}
.ligne1 .ligne2{
    display: inline;
}
